$colors: (
    "common": (
        "white": #ffffff,
        "black": #141414,
        "black-2": #232323,
        "black-3": #000,
        "black-4": #0a0a0a,
        "black-5": #121212,
        "black-6": #212121,
        "black-7": #0e0f11,
        "black-8": #1a1b1e,
        "black-9": #16302f,
        "black-10": #21212d,
        "cream": #f9f4e8,
        "cream-2": #fff6bf,
        "cream-3": #ffffe6,
        "yellow": #ffc446,
        "yellow-1": #fff669,
        "yellow-green": #e9ff48,
        "green-light": #05a5c5,
        "green-regular": #c1ed00,
        "green-solid": #17312f,
        "pink-light": #fde1da,
        "paste": #43d4a0,
        "paste-2": #0c5752,
        "sky": #c5fcfc,
        "red": #ff4851,
        "red-2": #ff481f,
        "red-3": #ff5722,
        "blue": #7463ff,
        "brown": #453030,
    ),
    "grey": (
        "1": #f8f8f8,
        "2": #f1f1f1,
        "3": #f8f8fb,
        "4": #f6f8ef,
    ),
    "coffe": (
        "1": #653624,
        "2": #552411,
    ),
    "cream": (
        "1": #b7ab98,
        "2": #cfc292,
    ),
    "text": (
        "body": #2e2d2d,
    ),
    "theme": (
        "green": #05a5c5,
        "pink": #ec6fd5,
        "yellow": #ffb701,
    ),
    "border": (
        "1": #eaebed,
        "2": #e7e7e7,
    ),
);
